// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-navbar {
  text-align: center;
  > a {
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    font-family: Impact, Charcoal, sans-serif;
    color: black;
    }
}